// Utilities Colors
//Colors
.text-link        { color: $link !important; }
.text-black       { color: $black !important; }
.text-grey        { color: $grey !important; }
.text-white       { color: $white !important; }
.text-light       { color: $light !important; }

//Background Colors
.bg-black      { background-color: $black !important; }
.bg-grey       { background-color: $grey !important; }